<% layout('layouts/boilerplate') %>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
<link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">

<a href="/ArtBeats/newArt"><button class="btn">Add new art</button></a>
<div id="map" style="width: 100%; height:400px;"></div>
<div class="cards">
    <%  for(let Art of Arts){ %>
        <div class="art-card" onclick="window.location.href='/ArtBeats/<%= Art._id %>';">
            <%if(Art.images.length){%>
                <img class="card-image" src="<%= Art.images[0].url %>" alt="">
            <%}else{%>
                <img class="card-image" src="/images/noImage.jpeg" alt="">
            <%}%>
            <div class="card-text card-header">
                <h2 class="art-title">
                    <%= Art.title %>
                </h2>
                <div class="location-info">
                    <span class="material-icons">place</span>
                    <%= Art.location %>
                </div>
            </div>
        </div>
    <% } %>
</div>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const Arts = {features: <%- JSON.stringify(Arts) %>};
</script>
<script src="/js/clusterMap.js"></script>