<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllStreetArts</title>
</head>

<body>
    <h3><%= Art.title %></h3>
    <ol>
        <li><%= Art.title %></li>
        <li><%= Art.description %></li>
        <li><%= Art.location %></li>
        <li><%= Art.artist_name %></li>
        <li><%= Art.date_created %></li>
    </ol>
    <h3><a href="/AllStreetArts/<%= Art._id %>/editArt">Edit Art</a></h3>    
</body>
<form action="/AllStreetArts/<%= Art._id %>?_method=DELETE" method="POST">
    <button type="submit">Remove Art</button>
</form>

<h2><a href="/AllStreetArts">All Arts</a></h2>

</html>